.my_title{
    width: 180px;height:70px;
    background-image:url(../png/title.png);
    background-size: 11rem;
    background-repeat: no-repeat;
    margin-top:5px
   }
.header_bg{
    width:100%;height:80px;
    background: #191919;
}
.header_box{
    width:60%;height:80px;
    line-height: 80px;
    margin:0 auto;
}
.header_chunk{
    width:10%;height:80px;
    float:left;
    text-align: center;
}
.header_chunk:hover{
    border-bottom:0.4rem solid #FFBE00;
}
.header_chunk>a{
    color: #ffffff;
    font-size:20px;
}
.header_chunk>a:hover{
    color:#FFBE00;
    text-decoration: none;
}
.footer_bg{
    width:100%;height:220px;
    background: #000;
}
.footer_box{
    width:70%;height:220px;
    margin:0 auto;
}
.footer_box_header{
    border-bottom:1px solid #ffffff;
}
.footer_chunk{
    padding:10px 0px;
}
.footer_chunk>a,.footer_chunk>p{
    color:#ffffff;
    margin:0;
}
.footer_chunk>a:hover{
    color:#ffffff;
    text-decoration:none;
}
.my_header,.my_footer{
    width:100%;
}
.my_header{
    height:90px;
}
.my_footer{
    height:220px;
}
.index_header{
    height: 1050px;width:100%;
    background: url(../png/bg_index1.png) no-repeat;
    position: relative;
}
.index2{
    height:1050px;width:100%;
    background: url(../png/bg_index2.jpg) no-repeat;
    position: relative;
}
.index3{
    height:1050px;width:100%;
    background: url(../png/bg_index3.jpg) no-repeat;
}
.index4{
    height:1050px;width:100%;
    background: url(../png/bg_index4.jpg) no-repeat;
}
.index5{
    height:1050px;width:100%;
    background: url(../png/bg_index5.jpg) no-repeat;
}
.index_download{
    position: absolute;;
    bottom:200px;left:350px;
    border: 1px solid rgba(255,255,255,0.25);
}
.index_download>div{
    width:120px;height:120px;
    margin:5px;
    float: left;
}
.download_img{
    width:120px;height:120px;
}
.download_box{
    width:170px !important;height:120px;
}
.ios_download{
    width:170px;height:50px;
    background:url(../png/download-buttons.png) no-repeat;
    background-position: 0px 0px;
    background-size:10rem;
    margin:5px 0;
}
.app_download{
    width:170px;height:50px;
    background:url(../png/download-buttons.png) no-repeat;
    background-position: 0px -55px;
    background-size:10rem;
    margin:5px 0;
}
.new_box{
    width:60%;height:350px;
    position: absolute;;
    bottom:350px;left:550px;
}
.new_banner{
    width: 100%;
    background: url(../png/news-left.png) no-repeat;
    background-size: contain;
    padding:0 !important;
}
.new_news{
    width: 100%;
    background: url(../png/news-right.png) no-repeat;
    background-size: contain;
    padding:0 !important;
}
.new_jpg{
    width:85% !important;
    margin:30px 30px 0;
    background-size:contain !important;
}
.carousel-indicators{
    position:relative !important;
    top:5px !important;
}
.carousel-indicators>li{
    height:20px !important;width:20px !important;
    border-radius:50%;
}
.news_box{
    width:80%;
    padding:40px 0 0 40px;
}
.news_box_header{
    border-bottom:1px solid #ffffff;
}
.news_box_header>span{
    font: bold 20px"微软雅黑" !important;
    margin:0 30px;
    color: #ffffff;
    padding-bottom:10px;
}
.news_font>span,.news_font>span>a{
    font-size:15px !important;
    color: #ffffff !important;
}
.news_style>span{
    background:rgba(0,0,0,0) !important;
}