body{
  background-image: url('../png/1.png');
  background-repeat:no-repeat;
  background-size:cover;
  overflow:hidden;
 }
 .my_title{
  width: 285px;height:115px;
  background-image:url(../png/sprite.png);
  background-position:10px 20px;
 }
 .my_img{
   width:100%;
   transition:2s !important;
 }
 .my_img:hover:hover{
  transform:scale(1.1);
}
	.login_bg{
	background-image:url(../png/section-right-service.png);
	background-repeat: no-repeat;
  }
  .official_bg{
    background-image:url(../png/section-right-bg1.png);
    background-repeat: no-repeat;
    background-size:cover;
    }
	.bold{
		font:bold !important;
  }
  .footer_menu{
    width:50%;
    margin:2px 0 !important;
    position: absolute;;
    bottom:0px;
    left:25%;
    color: rgb(6, 120, 173);
  }
  .danger{
    font:bold 20px "微软雅黑";
    color:#ff2020 !important
  }
  .w-98{
    width:98%
  }
 